<div class="row row-nomargin account-modal">
    <div class="col-md-8 col-md-push-2" ng-if="!responseHandler.isSuccededRegister">
        <h2 class="text-center text-uppercase account-title">@Resource.Register</h2>
        @Html.Partial("/Views/Account/Partial/_RegisterPartial.cshtml")
        <spin-wait show-when="responseHandler.isBusy" />
    </div>
    <div class="col-md-12" ng-if="responseHandler.isSuccededRegister" ng-cloak>
        <div class="text-uppercase message-info">{{responseHandler.succesMessage}}</div>
    </div>
    @Html.Partial("/Views/Account/Template/SocialButtonTmpl.cshtml")
</div>

