<div class="col-xs-12 scd-content-social">
    <ul class="list-inline list-social">
        <li class="fb">
            @using (Html.BeginForm("ExternalLogin", "Account", new { returnUrl = Request.Url.AbsoluteUri }, FormMethod.Post, new { id = "account-submit" }))
            {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('sub-twitter').click()" target="_blank">
                    <span style="background-position: 0 -41px;"></span><strong>
                        Twitter
                    </strong>
                </a>
                <button ng-hide="true" id="sub-twitter" class="btn rtn-primary" type="submit" name="provider" value="Twitter"></button>
            }

        </li>
    </ul>
</div>

