<div class="panel-group menu-user" id="collapse">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#collapse" href="#collapse-one" data-view="cart">
                    Cart
                </a>
            </h4>
        </div>
        <div id="collapse-one" class="panel-collapse collapse in">
            <div class="panel-body">
                Here is the current choice of your order
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#collapse" href="#collapse-two" data-view="history">
                    History
                </a>
            </h4>
        </div>
        <div id="collapse-two" class="panel-collapse collapse">
            <div class="panel-body">
                Here describes the history of your orders
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#collapse" href="#collapse-three" data-view="userInfo">
                    User info
                </a>
            </h4>
        </div>
        <div id="collapse-three" class="panel-collapse collapse">
            <div class="panel-body">
                Information about your account as a gift
            </div>
        </div>
    </div>
    
</div>
