/*for sale effect*/
.text-effect {

    color: rgba(255,255,255,1);
    text-shadow: 0 0 10px rgba(255,255,255,1), 0 0 20px rgba(255,255,255,1), 0 0 30px rgba(255,255,255,1), 0 0 40px #cecfe0, 0 0 70px #d66fad, 0 0 80px #cecfe0, 0 0 100px #cecfe0;

}

.sale-widg-prods:hover .text-effect {
    text-shadow: 0 0 10px rgba(255,255,255,1), 0 0 20px rgba(255,255,255,1), 0 0 30px rgba(255,255,255,1), 0 0 40px cornflowerblue, 0 0 70px cornflowerblue, 0 0 80px cornflowerblue, 0 0 100px cornflowerblue;
}



.sale-widg-prods .category-text-widg {
    color: #F4F3F8;
    background: rgba(100, 149, 237, 0.57);

}

.sale-widg-prods .category-widg:hover .category-text-widg {
    background: cornflowerblue;
}


.sale-widg-prods .slick-dots li button:before {

    color: cornflowerblue;
}

.sale-widg-prods .slick-dots li.slick-active button:before {
    color: cornflowerblue;
}

.sale-widg-prods .btn-buy {
    background: rgba(121, 152, 208, 0.57);
}

    .sale-widg-prods .btn-buy:hover {
        background: rgb(121, 152, 208);
    }

.category-text-widg {
    color: #F4F3F8;
    background: rgba(100, 149, 237, 0.57);

}

.category-widg:hover .category-text-widg {
    background: cornflowerblue;
}
