.photo-sale {
    background-size: cover;
    width: 100%;
    height: 300px;
    /*border-radius: 50%*/


} 
.sale-widg-prods .slick-slide {
    padding: 20px;
    box-sizing: content-box;
  
}
.sale-widg-prods .fast-info {
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 25px;
    right: 25px;
      /*border-radius: 50%;*/
    background: rgba(241, 241, 239, 0.65);
}
.sale-widg-prods .title-text-sale {

    font-size: 1em;
    line-height:1em;
    position: absolute;
    bottom: 31px;
}
.sale-widg-prods .flexbox-container {
    display: flex;
    justify-content: center;
 
    padding: 5px;
}

/*for sale effect*/
.text-effect {
    margin-bottom: 40px;
    font-size: 48px;
    color: rgba(255,255,255,1);
    text-shadow: 0 0 10px rgba(255,255,255,1), 0 0 20px rgba(255,255,255,1), 0 0 30px rgba(255,255,255,1), 0 0 40px #cecfe0, 0 0 70px #d66fad, 0 0 80px #cecfe0, 0 0 100px #cecfe0;
    font-weight: bold;
    letter-spacing: 20px;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.sale-widg-prods:hover .text-effect {
    text-shadow: 0 0 10px rgba(255,255,255,1), 0 0 20px rgba(255,255,255,1), 0 0 30px rgba(255,255,255,1), 0 0 40px cornflowerblue, 0 0 70px cornflowerblue, 0 0 80px cornflowerblue, 0 0 100px cornflowerblue;
}



.sale-widg-prods .category-text-widg {
    color: #F4F3F8;
    background: rgba(100, 149, 237, 0.57);
    left: 40px;
    right: 40px;
    transition: bottom .5s;
}

.sale-widg-prods .category-widg:hover .category-text-widg {
    bottom: 100px;
    background: cornflowerblue;
}


.sale-widg-prods .slick-dots li button:before {
    font-size: 20px;
    line-height: 20px;
    color: cornflowerblue;
}

.sale-widg-prods .slick-dots li.slick-active button:before {
    opacity: 1;
    color: cornflowerblue;
}

.sale-widg-prods .btn-buy {
    background: rgba(121, 152, 208, 0.57);
}

    .sale-widg-prods .btn-buy:hover {
        background: rgb(121, 152, 208);
    }

.category-text-widg {
    color: #F4F3F8;
    background: rgba(100, 149, 237, 0.57);
    left: 10px;
    right: 10px;
    transition: bottom .5s;
}

.category-widg:hover .category-text-widg {
    bottom: 210px;
    background: cornflowerblue;
}