/*base*/
.slick-slider {
    margin-bottom: 5px;
    z-index: 0;
}
/*my*/
.item-prod {
    height: 505px;
    position: relative;
    padding: 0;
}

    .item-prod:hover {
        box-shadow: 0 0 20px rgba(205,210,207,1);
        z-index: 1;
    }

.image-prod * {
    z-index: 0;
}

.image-prod {
    margin-top: 5px;
    /*height: 385px;*/
    height: 350px;

     overflow: hidden;
}

.action-prod {
    height: 50px;
    width: 50px;
    background: #f1f1f1;
    margin-left: 5px;
    border-radius: 50%;
    transition: all .5s;
    font-size: 1.2em;
    color: #c0c0c0;
    padding-top: 11px;
}

    .action-prod:hover {
        background: #333;
        color: #fff;
    }

.primary-img {

    height: 350px;
    /*height: 385px;*/
    /*width: 100%;*/
  
}

.container-action-prod {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    transition: .2s ease-in-out;
    transform: scale(0);
}

.image-item:hover {
    border: 2px rgba(78, 62, 62, 0.65) solid;
}

.item-prod:hover .image-prod-all,
.item-prod:hover .container-action-prod {
    transform: scale(1,1);
    -webkit-transform: scale(1,1);
}

.description-prod {
    line-height: 1.2em;
}

.name-prod {
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    display: block;
    display: -webkit-box;
    height: 38px;
    margin: 0 auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price-prod {
    padding-top: 0.3em;
    text-align: center;
}

.image-slider {
    position: absolute;
    right: 12px;
    bottom: 0;
    top: 1em;
}

.image-prod-all {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    transition: .2s ease-in-out;
    transform: scale(0);
    list-style: none;
}

.image-item {
    border: 2px rgba(155, 162, 169, 0.43) solid;
    transition: border-color .5s;
    margin-top: 10px;
}


:focus {
    outline: -webkit-focus-ring-color auto 0;
}

.sale-shape {
    background: tomato;
    position: absolute;
    top: 5px;
    left: 5px;
    color: white;
    padding: 2px 4px;
    font-size: 0.8em;
}
.sale-shape:before {
    content: "";
    position: absolute;
    right: -13px;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 14px 0 0;
    border-color: tomato transparent transparent transparent;
}
.sale-shape:after {
    content: "";
    position: absolute;
    right: -13px;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 0 14px;
    border-color: transparent transparent transparent tomato;
}
@media (max-width: 767px) {
}
