@model ICategoryModel

<div class="col-md-3 category-widg margin-top">
    <div style="position: relative;">
        <div class="fast-info flexbox-container">
            <div class="text-center">
                <a href="@Url.Action("CategoryGoods", "Catalog", new {type = ViewBag.type})" class="btn btn-primary btn-buy">@Resource.GoView</a>
            </div>
        </div>
        <img src="/Image/Categories/@Model.Photo" alt="No foto" style="height: 250px; width: 100%"/>
        <div class="text-center speed-info-title title-text-sale category-text-widg">@Model.CategoryName</div>

    </div>
</div>
