<div class="row footer">
    <div class="col-md-12">
        <div class="col-md-3">
            <h3 class="text-uppercase">Clothing</h3>
            <p class="text-justify">
                Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit aadipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class="col-md-4">
            <div class="footer-col">
                <h3 class="text-uppercase">Information</h3>
                <div class="footer-information text-uppercase">
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Customer Service</a></li>
                        <li><a href="#">Template Settings</a></li>
                        <li class="last privacy"><a href="#">Privacy Policy</a></li>
                    </ul>
                    <ul class="links">
                        <li class="first"><a href="#" title="Site Map">Site Map</a></li>
                        <li><a href="#" title="Search Terms">Search Terms</a></li>
                        <li><a href="#" title="Advanced Search">Advanced Search</a></li>
                        <li><a href="#" title="Orders and Returns">Orders and Returns</a></li>
                        <li class=" last"><a href="#" title="Contact Us">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="footer-col">
                <h3 class="text-uppercase">My account</h3>
                <div class="footer-information text-uppercase">
                    <ul>
                        <li><a href="#">Sign In</a></li>
                        <li><a href="#">View Cart</a></li>
                        <li><a href="#">My Wishlist</a></li>
                        <li><a href="#">Track My Order</a></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div style="margin-top: 135%">
                <h4>Company Vitek 2015</h4>
                <h5><b>(095)0567-499</b></h5>
            </div>
        </div>
    </div>
</div>
