@model WebShop.Models.Account.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div ng-app="regApp">

    <div class="row" ng-controller="regCtrl">

        <div class="col-md-6" ng-if="!responseHandler.isSuccededRegister">
            <h2 class="text-center">@ViewBag.Title</h2>
            @Html.Partial("_RegisterPartial")
            <spin-wait show-when="responseHandler.isBusy" />
        </div>
        <div class="col-md-6" ng-if="responseHandler.isSuccededRegister" ng-cloak>
            <h2 class="text-center">@ViewBag.Title</h2>
            <p>You are register succeded. Please confirm your register and go to link into the letter was sended your email</p>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/Angular/Common/SerializeToObject.js"></script>
    <script src="~/Scripts/Angular/Common/DirectiveLoading.js"></script>
    <script src="~/Scripts/Angular/Common/DirectiveCompareTo.js"></script>
    <script src="~/Scripts/Angular/Common/HttpServices.js"></script>
    <script src="~/Scripts/Angular/Account/Register/Controller.js"></script>
}
