@using WebShop.Infostructure.BreadCrumsService
@using WebShop.Infostructure.Helpers
@model ITypeCategoryModel<ICategoryModel>

@{
    ViewBag.Title = string.Concat(Resource.Categories.ToUpper(), "-", Model.TypeName);
}
<div class="row home" ng-cloak id="container">
    <div class="container">
        @Html.GenerateBreadCrumbs(new BreadCrumbsCommon(), Model.TypeName)

        <div class="row">
            <div class="col-md-9 sale-widg-prods ">
                @if (ViewBag.Sale is ITypeCategoryModel<ICategoryModel>)
                {
                    foreach (var item in (ViewBag.Sale as ITypeCategoryModel<ICategoryModel>).Items)
                    {
                        @Html.Partial("Partial/_CategoryWidget", item, new ViewDataDictionary { { "type", Model.TypeByHref } })
                    }
                }
            </div>
        </div>
        <div class="row">
            @*right side*@
            <div class="col-md-12 all-product">
                <div class="row">
                    <div class="text-center">
                        <p class="separator"></p>
                        <span class="separator-text">@Model.TypeName</span>
                    </div>
                </div>
                <div>
                    @foreach (var item in Model.Items)
                    {
                        @Html.Partial("Partial/_CategoryWidget", item, new ViewDataDictionary { { "type", Model.TypeByHref } })

                    }
                </div>



            </div>
        </div>
    </div>
</div>
