<div class="col-xs-9">
    <div class="flexbox-container">
        <div>
            <img alt="no image" src="@ViewData["src"]" class="blockquote-image img-circle">
        </div>
        <div>
            <blockquote class="font-italic">
                <div class="list-i">“</div>
                <div class="color-h">@ViewData["title"]</div>
                <div class="small text-muted">@ViewData["text"]</div>
            </blockquote>
        </div>

    </div>
</div>
