<form method="POST" class="form-horizontal" role="form" novalidate name="editForm" id="editForm">
    <input type="hidden" ng-model="currentItem.item.goodId" name="goodId" />
    <div class="form-group">
        <label class="col-sm-2 control-label" for="goodName">Good name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="goodName" placeholder="Enter name" name="goodName"
                   ng-model="currentItem.item.goodName" ng-minlength="3" ng-required="true"
                   ng-class="!editForm.goodName.$valid&&editForm.goodName.$dirty?'custom-invalid':'custom-valid'">
        </div>
        <div class="col-sm-10 col-md-push-2" ng-class="editForm.priceUsd.$valid?'custom-valid':'custom-invalid'" ng-cloak>
            <span ng-show="!editForm.goodName.$valid&&editForm.goodName.$dirty">Good name is required (min 3, max 100 characters)</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="priceUsd">Good price</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="priceUsd" placeholder="Enter price" name="priceUsd"
                   ng-model="currentItem.item.priceUsd" ng-required="true"
                   ng-class="!editForm.priceUsd.$valid&&editForm.priceUsd.$dirty?'custom-invalid':'custom-valid'" min="0" max="1000000">
        </div>
        <div class="col-sm-10 col-md-push-2" ng-class="editForm.priceUsd.$valid?'custom-valid':'custom-invalid'" ng-cloak>
            <span ng-show="!editForm.priceUsd.$valid&&editForm.priceUsd.$dirty">Price of good is required (min 0, max 1000000)</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="priceUsd">Good count</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="goodCount" placeholder="Enter count goods" name="goodCount"
                   ng-model="currentItem.item.goodCount" ng-required="true"
                   ng-class="!editForm.goodCount.$valid&&editForm.goodCount.$dirty?'custom-invalid':'custom-valid'" min="0" max="1000000">
        </div>
        <div class="col-sm-10 col-md-push-2" ng-class="editForm.$valid?'custom-valid':'custom-invalid'" ng-cloak>
            <span ng-show="!editForm.goodCount.$valid&&editForm.goodCount.$dirty">Count of good is required (min 0, max 1000000)</span>
        </div>
    </div>
    <div class="container-slider">
        @*<div class="slider">
                <div ng-repeat="photo in currentItem.item.photos track by $index">
                    <img ng-src="~/Admin/GetPhoto/{{photo}}" alt="No image" style="width: 100px; height: 100px" />
                </div>
            </div>*@
    </div>
    <div ng-if="errorHandler.message!=''" ng-cloak>
        <pre class="label-error">{{errorHandler.message}}</pre>
    </div>
    <div class="form-group">
        <div class="col-sm-12 text-right">
            <button class="btn btn-primary" ng-click="save(editForm)" ng-disabled="!editForm.$valid">Save</button>
        </div>
    </div>
   
</form>