<div class="row col-md-12 current-img">
    <div ng-repeat="photo in currentItem.item.photos track by $index" style="display: inline-block; position: relative">
        <img ng-src='/GetPhoto/{{photo}}' alt='No image' />
        <button class="btn btn-sm btn-danger " ng-click="showModal(photo,'removeImg',$event)">Remove</button>
    </div>
    <hr />
</div>
<div class="row">
    <div class="col-md-12" ng-show="currentItem.item.goodId!=null || !mode.isEdit">
        <button class="btn btn-primary" ng-click="selectFile()">
            Upload<i class="glyphicon glyphicon-open"></i>
        </button>
        <button class="btn btn-primary" ng-click="uploadAll()" ng-if="mode.isEdit" ng-disabled="(files|filter:{upload:false}).length==0">Save all<i class="glyphicon glyphicon-floppy-saved"></i></button>

        <button class="btn btn-danger" ng-click="clear()" ng-disabled="(files|filter:{upload:false}).length==0">Clear<i class="glyphicon glyphicon-trash"></i></button>

        <input ng-hide="true" type="file" id="upload" multiple ng-cloak />
    </div>
</div>
<div id="container" class="row" upload-image files="files" current-item="currentItem.item">

</div>
