
<div class="col-xs-12">
   
    <div class="col-xs-3 col-xs-offset-9">
        <h1 class="title-text">
            <span class="color-h">{{::slide.title}}</span>
            <br />{{::slide.text}}
        </h1>
        <button class="btn btn-primary btn-buy">@Resource.BuyNow</button>
    </div>
</div>
