<div class="row">
    <div class="col-md-12">
        <div class="col-md-4 pull-right" style="padding-right: 0;">
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter name" ng-model="filter.name">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-search left"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
