
<div class="col-xs-6 post">
    <div class="col-xs-6">
        <img src="@ViewBag.Path" alt="" />
    </div>
    <div class="col-xs-6">
        <h4 class="text-uppercase">@ViewBag.Title</h4>
        <p>@ViewBag.Content</p>
        <button class="btn btn-primary btn-post">@Resource.ReadMore</button>
    </div>
</div>
