<div class="row row-nomargin">
    <div class="text-center">
        <p class="separator"></p>
        <span class="separator-text">@Resource.MoreUs</span>
    </div>
</div>
<div class="scd-content-social">
    <ul class="list-inline list-social">
        <li class="fb">
            <a href="https://facebook.com/" target="_blank">
                <span></span><strong>
                    Facebook
                </strong>
            </a>
        </li>
        <li class="pn">
            <a href="http://pinterest.com/" target="_blank">
                <span style="background-position: 0 -123px;"></span><strong>
                    Pinterest
                </strong>
            </a>
        </li>
        <li class="vk">
            <a href="http://vk.com/" target="_blank">
                <span style="background-position: 0 -287px;"></span><strong>
                    Vkontakte
                </strong>
            </a>
        </li>
        <li class="gp">
            <a href="https://plus.google.com/" target="_blank">
                <span style="background-position: 0 -82px;"></span><strong>
                    Google +
                </strong>
            </a>
        </li>
        <li class="in">
            <a href="http://instagram.com/" target="_blank">
                <span style="background-position: 0 -164px;"></span><strong>
                    Instagram
                </strong>
            </a>
        </li>
        <li class="yt">
            <a href="https://youtube.com/" target="_blank">
                <span style="background-position: 0 -205px;"></span><strong>
                    YouTube
                </strong>
            </a>
        </li>
        <li class="tb">
            <a href="http://asoslive.tumblr.com/" target="_blank">
                <span style="background-position: 0 -41px;"></span><strong>
                    Twitter
                </strong>
            </a>
        </li>
    </ul>
</div>
